<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,88},{5,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{5,30}}</string>
                <key>sourceSize</key>
                <string>{13,38}</string>
            </dict>
            <key>Body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{30,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,68}}</string>
                <key>sourceSize</key>
                <string>{38,76}</string>
            </dict>
            <key>Foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{5,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{5,44}}</string>
                <key>sourceSize</key>
                <string>{13,52}</string>
            </dict>
            <key>Hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,48},{7,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{7,38}}</string>
                <key>sourceSize</key>
                <string>{15,46}</string>
            </dict>
            <key>Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,50}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,57},{5,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{5,43}}</string>
                <key>sourceSize</key>
                <string>{13,51}</string>
            </dict>
            <key>Shoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,57},{11,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{11,4}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,22}}</string>
                <key>sourceSize</key>
                <string>{56,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walking3.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d4fa8d543ae424cddd0dfc96671338:1/1$</string>
            <key>textureFileName</key>
            <string>walking3.png</string>
        </dict>
    </dict>
</plist>
