<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,254}}</string>
                <key>sourceSize</key>
                <string>{960,254}</string>
            </dict>
            <key>bus01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{272,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{272,180}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>bus02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{272,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{272,180}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>bus03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{272,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{272,180}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{960,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{960,108}}</string>
                <key>sourceSize</key>
                <string>{960,110}</string>
            </dict>
            <key>road.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,54},{14,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,72}}</string>
                <key>sourceSize</key>
                <string>{14,72}</string>
            </dict>
            <key>tyre.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,54},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0edb50017251eb3bd0a9529d11c6b93:1/1$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
